@model TheOceanWeb.Models.tMember

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="~/Content/login.css">

<section class="login-block" style="height: 829px; background: linear-gradient(#fff3b6,#f75f78,#1391c2); ">
    <div class="container mycontainer">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">會員登入</h2>
                <form class="login-form" action="@Url.Action("Login")" method="post">
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.fUserId)
                        @Html.TextBoxFor(model => model.fUserId, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.fUserId, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.fPwd)
                        @Html.TextBoxFor(model => model.fPwd, new { @class = "form-control", @type = "password", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.fPwd, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-check">
                        <button type="submit" class="btn btn-login float-right">登入</button>
                        @ViewBag.Message
                    </div>
                    <p class="forget">我還沒有帳號 ?@Html.ActionLink("加入會員", "Register")</p>
                    @*<h4 style="color:red">@Session["registerSuccess"]</h4>*@
                </form>


                @*@{ //顯示完通知後清空Session
                    Session["registerSuccess"] = ""; }*@

                <div class="copy-text"></div>
            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="~/Images/15off.jpg" alt="First slide"> @*901 x 606*@
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="~/Images/87kentei.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="~/Images/15off.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
</script>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@*顯示alert*@
@if (TempData["regSuccess"] != null)
{
<script type="text/javascript">
                        var regSuccess = @Html.Raw(Json.Encode(TempData["regSuccess"]));
    

                        var t = setTimeout("alert(regSuccess)", 500)

</script>}