@model TheOceanWeb.Models.tMember

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="~/Content/login.css">

<section class="login-block" style="height: 829px; background: linear-gradient(#fff3b6,#f75f78,#1391c2); ">
    <div class="container mycontainer">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">加入會員</h2>
                <form class="login-form" action="@Url.Action("Register")" method="post">
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.fName)
                        @Html.TextBoxFor(model => model.fName, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.fName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.fUserId)
                        @Html.TextBoxFor(model => model.fUserId, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.fUserId, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.fPwd)
                        @Html.TextBoxFor(model => model.fPwd, new { @class = "form-control", @type = "password", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.fPwd, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.fEmail)
                        @Html.TextBoxFor(model => model.fEmail, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.fEmail, "", new { @class = "text-danger" })
                    </div>

                    @Html.TextBoxFor(model => model.fPhone, new { @class = "form-control", @Value="0800000123", @type="hidden" ,autocomplete = "off" })

                    <div class="form-group">
                        <button type="submit" class="btn btn-login float-right">註冊</button>
                        <br /><br />
                        <p style="color:red">@ViewBag.Message</p>
                    </div>
                    <p class="forget">我已經有帳號了 ?@Html.ActionLink("登入", "Login")</p>
                </form>
                <div class="copy-text"></div>
            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" style="height: 706px; width: 901px;" src="~/Images/15off.jpg" alt="First slide"> @*901 x 606*@
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" style="height: 706px; width: 901px;" src="~/Images/87kentei.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" style="height: 706px; width: 901px;" src="~/Images/15off.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>